<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Pagina de inicio</h1>
  <h2>Hacia donde desea dirigirse:</h2>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
  </nav>
</body>
</html>