<html>
<head>
  <title>Sobre nosotros</title>
</head>
<body>
  <h1>detalles de la pagina</h1>
  <h3>Esta pagina fue creada por Cristobal Naveillan para la asignatura de Web Technologies, que es parte de su concentracion tecnologica. con 3 clases este vendria siendo el laboratorio 2 de la asignatura</h3>
  <nav>
    <a href="/">Home</a> |
    <a href="/contact">Contact</a>
  </nav>
</body>
</html>