<html>
<head>
  <title>Contacto</title>
</head>
<body>
  <h1>Contacto</h1>
  <h2>si quiere contactarnos elija la forma que mas le facilite:<h2>
  <h3>mail: cnaveillan@miuandes.cl</h3>
  <h3>whatssap: +569 67978325</h3>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
  </nav>
</body>
</html>
